<a href="https://colab.research.google.com/github/yess-wee/DAUP/blob/main/webscrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#web scrapping

In [19]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [20]:
url = "https://www.flipkart.com/samsung-mobile-store?otracker=nmenu_sub_Electronics_0_Samsung"

In [21]:
html = requests.get(url)

In [22]:
s = BeautifulSoup(html.content,'html.parser')

In [24]:
print(s.prettify())

<html>
 <body>
  <h1>
   500 Internal Server Error
  </h1>
  An internal server error occurred.
 </body>
</html>

In [25]:
s.get_text()

'500 Internal Server Error\nAn internal server error occurred.\n\n'

In [28]:
result = s.h1
print(result.prettify())

<h1>
 500 Internal Server Error
</h1>

In [ ]:
result = find(id = " ")
jobtitle = result.find_all('h2', class_ = ' ')


for job in job_title:
  print(job.text)